<div class="header row container-fluid">
    <div class="col-sm-11 text-center">
        <h2>Result Management System</h2>
    </div>
    <div class="col-sm-1 mt-2">
        <button class="px-4 logout py-1" routerLink="">Logout</button>
    </div>
</div>
<a href="student/searchresult" class="mx-4 mt-5">Back</a>
<h4 class="text-center my-5">Result</h4>
<hr>
<div class="container show text-center pt-5">
    <em>Roll No: </em><strong>{{studentrecord.rollno}}</strong><br><br>
    <em>Name: </em><strong>{{studentrecord.name}}</strong><br><br>
    <em>Date of Birth: </em><strong>{{studentrecord.dob}}</strong><br><br>
    <em>Score: </em><strong>{{studentrecord.score}}</strong><br><br>
</div>