<div class="row container-fluid" id="header">
    <div class="col-sm-11 text-center">
        <h2>Result Management System</h2>
    </div>
    <div class="col-sm-1 mt-2">
        <a class="px-4 py-1 logout " href="/teacher/logout"><strong>Logout</strong></a>
    </div>
</div>