<h1 class="homeheading">Result Management System</h1>
<div class="home">
    <h2 class="text-center">Login As</h2>
    <div class="text-center mt-5">
    <a class="btn btn-success m-3 px-4" href="/teacher/login"><strong>Teacher</strong></a>
    <a class="btn btn-success m-3 px-4" href="/student/login"><strong>Student</strong></a>
</div>
</div>
