<!--All the non existing routes will be redirected here-->

    <div class="error-message p-5">
      <h1>Error 404</h1>
      <p>Page Not Found</p>
      <a class="button" href="/">Go to Homepage</a>
    </div>