/* css for styling */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.content {
  min-height: calc(100% - 38px); /* Subtract footer height */
}

.ffooter {
  height: 38px;
  /* Add your footer styles here */
}
.homeheading {
    margin: 0;
    text-align: center;
    background: #c6ecc6;
    border: 2px solid #8cd98c;
    padding:10px;
  }

  .home{
    margin-top: 10%;
  }

  button{
    border: 2px solid black;
  }

  #header {
    margin: 0;
    background: #c6ecc6;
    border: 2px solid #8cd98c;
    padding: 5px;
  }

  #footer{
    margin: 0;
    background: #c6ecc6;
    border: 2px solid #8cd98c;
    padding: 0px;
  }
  
  .logout {
    background-color: #ffebcc;
    border: 2px solid #ffcc80;
    border-radius: 10px;
    color: black;
    text-decoration: none;
  }

  #record {
    margin-top: 10%;
    border: 2px solid black;
  }
  
  #record tr th {
    border-right: 1px solid black;
    color: black;
    padding-left: 30px;
  }
  
  th button {
    border: none;
  }

  .page{
    margin-top: 10%;
    display: flex;
    justify-content: end;
  }


  #show{
    border: 3px solid black;
    border-radius: 20px;
    background-color: aliceblue;
    width: 50%;
  }

  #pagebtn:hover{
    border: 2px solid red;
  }

  .error-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    height: 40%;
    width: 40%;
  }
  